@model _0306191405_HoDucDuy.Areas.Admin.Models.Testimonial

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết</h1>
<div><a asp-action="Index"><i class="mdi mdi-arrow-left font-weight-bold" style="font-size: 40px;"></i></a></div>
<div>
    @*<h4>Lời chứng thực</h4>*@
    @*<hr />*@
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Avatar)*@
            <img id="imgPreview" style="width: 200px;" src="~/img/testimonial/@Model.Avatar" />
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Avatar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Job)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Job)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" asp-route-id="@Model.Id">Chỉnh sửa</a>
</div>
